[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf2 = "*"
python-docx = "*"
requests = "*"
striprtf = "*"
jinja2 = "*"
tika = "*"
pymupdf = "*"
htmldocx = "*"
aspose-words = "*"
pywin32 = "*"
pypandoc = "*"
pdfkit = "*"
weasyprint = "*"
pyqt6 = "*"
pyqt5 = "*"
pyqtwebengine = "*"
odfpy = "*"
ezodf = "*"
chardet = "*"

[dev-packages]

[requires]
python_version = "3.8"
